@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bei Änderungen in resources muss man npm run build aufrufen (bei npm run dev sieht man Änderungen nur während Aufruf) */
table { width: 100%; }
table thead { font-weight: bold; }
table thead th { text-align: left; }
table tbody tr { height: 40px; }

ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 20px;
}

li {
    display: list-item;
}

/* Mit Direktive @apply werden Stile von angegebenen CSS-Klassen reinkopiert in umgebende Klasse (wird von Tailwind-Präprozessor unterstützt) */
form {
    & input[type="submit"], button[type="submit"] {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
        margin-top: 10px;
    }
    & input[type="submit"].btn-disabled, button[type="submit"].btn-disabled {
        @apply text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center;
    }
    & input[type="submit"].btn-yes, button[type="submit"].btn-yes {
        @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
    }
    & input[type="submit"].btn-no, button[type="submit"].btn-no {
        @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }

    & div label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }

    & input[type="text"], input[type="password"], input[type="datetime-local"], input[type="number"], textarea {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    & input.has-error, select.has-error {
        @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400;
    }

    & div.errors {
        @apply mt-2 text-sm text-red-600 dark:text-red-500;
    }
}

a.btn {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
    margin-top: 10px;
}

a.btn-disabled {
    @apply text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}

table tr td:last-child {
    text-align: right;
}
